body{
  background-image: url(https://static.vecteezy.com/system/resources/thumbnails/001/626/101/original/dark-smooth-clouds-in-orange-sunset-free-video.jpg);
  background-size:cover;
color: white;
}
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10%;
}
input, input:focus{
  border: none;
  border-radius: 10px;
  padding: 10px;
  outline: none;
}

h2{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 100px;
  margin:  auto;
}
h4{
  font-size: 20px;
  font-weight: 300;
  letter-spacing:1px;
  text-align: center;
  
}

h6{
  font-size: 18px;
  font-family:sans-serif;
  margin-top: 0;
}
h5{
  font-size: 15px;
  margin-bottom: 10px;
}
.box{
  background-color: rgba(255, 255, 255, 0.282);
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  text-align: center;
  gap:5%;
}

.box-info{
  margin: 10px;
}
